{% extends "base.html" %}

{% block content %}
<h1>GENERAL RULE:</h1>

You may not participate personally and substantially in a "particular
matter" (<i>i.e</i>, a contract, claim, investigation, or other Government
deliberation, decision or action focused on the interests of specific
persons or on an identifiable class of persons) that directly and
predictably affects your financial interests or those of a spouse, minor
child, general partner, or nonfederal entity or organization with which you
hold a position (officer, director, or employee) or are negotiating for
employment, or have an arrangement concerning prospective employment. 18
U.S.C. 208.

Whew! Did you get all of that? There are a lot of parts to this rule. You
may want to read it again before moving on to the scenario.

<h2>SCENARIO:</h2> Your supervisor has asked you to be the Contracting
Officer&#39;s Representative (COR) on a contract with Defense Mania
Corporation.  This position would involve tasking the contractor and
monitoring its deliverables. You own $20,000 worth of stock in Defense
Mania, and your spouse is employed by the company in a division that is not
involved in the work for your agency.

<h2>Discussion Topic 1: Conflict of Interest</h2>

<h3>Question:</h3>
May you take on these new COR responsibilities?

<p>
Please reflect first on the reason we have this conflict of interest
statute and how it applies here. Then choose the best answer.


<form id="question">

<input type="radio" style="float:left">
<div class="answer">
Yes. You can take on these COR duties because you have a high level of
integrity and can assure your supervisor that you will not let either your
stock ownership or your spouse's employment influence you in making
decisions on this contract.
</div>

<input type="radio" style="float:left">
<div class="answer">
Maybe, if you sell the stock and determine that your actions could not
affect your spouse's salary and benefits.
</div>

<input type="radio" style="float:left">
<div class="answer">
No, because your financial interest in the stock and in your spouse's
employment and salary preclude you from taking on these
responsibilities.
</div>

<input type="radio" style="float:left">
<div class="answer">
Yes, if you sell your stock and divorce your spouse.
</div>

</form>

<h1 class="centered">Congratulations!</h1>

You have completed the Ethics in Government Education requirement for
Appointed Members of Boards, Commissions and Agencies.  Thank you for your
service to the City of Minneapolis and for your compliance with City of
Minneapolis ethics requirements.

{% endblock content %}
