
html, title, body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #c0ffff;
    margin: 0;
    padding: 0;
}

div#page {
    margin-top: 2em;
    margin: 0px 10em 0px 10em;
    padding: 0px 1em 0px 1em;
}

div#header {
    border-top: thin solid white;
    border-left: thin solid white;
    border-bottom: thin solid #005;
    border-right: thin solid #005;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: #eff;
    padding: 0.25em;
}

div#header h1 {
    margin: 0;
    padding: 0;
    font-size: 14pt;
}

div#header h2 {
    margin-top: 0.1em;
    margin-bottom: 0;
    padding: 0;
    font-size: 12pt;
    font-style: italic;
}

div#content {
    background-color: #eff;

    border-top: thin solid white;
    border-left: thin solid white;
    border-bottom: thin solid #005;
    border-right: thin solid #005;

    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.25em;

    margin-top: 0.5em;
    margin-bottom: 3em;
}

div#content h1 {
    display: inline;
    padding: 0;
    margin: 0.25em 0px;
    font-size: 120%;
    border-bottom: thin #006 solid;
}

div#content h2 {
    padding: 0;
    margin-top: 0.75em;
    margin-bottom: 0.1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 110%;
}

div#content p {
    margin-left: 0.75em;
    margin-right: 0.75em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.rhs {
    float: right;
}

a.button {
    margin-top: 0.25em;
    text-decoration: none;
    font-weight: bold;
    font-size: 120%;
    color: black;
    background-color: #ccc;
    border: thin solid black;
    padding: 2px 6px 2px 6px;
}

a.button:click {
    background-color: #99aabf;
    border-top: 2px #31557f solid;
    border-left: 2px #31557f solid;
    border-bottom: 2px #cce3ff solid;
    border-right: 2px #cce3ff solid;
}

div#footer {
    clear: both;
    margin-top: 2em;
    padding-bottom: 1.25em;
    font-size: small;
    background-color: #eff;
}

div#footer a.about {
    float: right;
    margin: 0 1em;
}

form#question div.answer {
    margin-left: 2em;
}

div.clear {
    clear: both;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

fieldset.rule, fieldset.reflection {
    margin: 1em 4em;
    padding: 0.5em 1em;
    border: thin blue solid;
}

fieldset.rule legend, fieldset.reflection legend {
    font-weight: bold;
    border: thin blue dashed;
    padding: 1px 3px;
}

