/* stylesheet for rounded corners */

.roundedcornr_box_156078 {
    background: #b4f3ff;
}
.roundedcornr_top_156078 div {
    background: url("/images/roundedcornr_156078_tl.png") no-repeat top left;
}
.roundedcornr_top_156078 {
    background: url("/images/roundedcornr_156078_tr.png") no-repeat top right;
}
.roundedcornr_bottom_156078 div {
    background: url(/images/roundedcornr_156078_bl.png) no-repeat bottom left;
}
.roundedcornr_bottom_156078 {
    background: url(/images/roundedcornr_156078_br.png) no-repeat bottom right;
}

.roundedcornr_top_156078 div, .roundedcornr_top_156078,
.roundedcornr_bottom_156078 div, .roundedcornr_bottom_156078 {
   width: 100%;
   height: 5px;
   font-size: 1px;
}

.roundedcornr_content_156078 { margin: 0 5px; }

