/* page layout */

html, title, body {
    font-family: Verdana, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/images/certback.png');
}

@media screen { }

/*
@media print {
    size: landscape;
}
*/

div#learner_name {
    position:absolute;
    width: 5in;
    left: 100px;
    top: 150px;
    text-align: center;
}

div#learner_board {
    position: absolute;
    width: 5in;
    left: 100px;
    top: 250px;
    text-align: center;
}

div#complete_date {
    position: absolute;
    left: 25px;
    top: 500px;
}

