/* page layout */

html, title, body {
    font-family: Verdana, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

div#certificate {
    width: 7.5in;
    height: 10.0in;
    background-image: url('/images/certificate.png');
    font-family: Verdana, Helvetica, sans-serif;
    margin: 0.5in 0.5in 0.5in 0.5in;
    background-repeat: no-repeat;
}

div#learner_name {
    position:absolute;
    width: 6.5in;
    left: 1in;
    top: 600px;
    text-align: center;
    font-size: 24pt;
}

div#complete_date {
    position: absolute;
    width: 6.5in;
    left: 1in;
    top: 840px;
    text-align: center;
    font-size: 16pt;
}

