/*
Copyright 2015 John J. Trammell.

This file is part of the Mpls-ethics software package.  Mpls-ethics
is free software: you can redistribute it and/or modify it under the
terms of the GNU General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your
option) any later version.

Mpls-ethics is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
General Public License for more details.

You should have received a copy of the GNU General Public License
along with Mpls-ethics.  If not, see <http://www.gnu.org/licenses/>.
*/

/* page layout */

html, title, body {
    font-family: Verdana, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

form#print-button {
    position: absolute;
    left: 6.75in;
    top: 5px;
}

div#certificate {
    width: 7.5in;
    height: 10.0in;
    font-family: Verdana, Helvetica, sans-serif;
    margin: 0.5in 0.5in 0.5in 0.5in;
}

div#learner_name {
    text-align: center;
    font-size: 24pt;
}

div#complete_date {
    text-align: center;
    font-size: 16pt;
}
