/*
Copyright 2010 John J. Trammell.

This file is part of the Mpls-ethics software package.  Mpls-ethics
is free software: you can redistribute it and/or modify it under the
terms of the GNU General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your
option) any later version.

Mpls-ethics is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
General Public License for more details.

You should have received a copy of the GNU General Public License
along with Mpls-ethics.  If not, see <http://www.gnu.org/licenses/>.
*/

/* page layout */

html, title, body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #c0ffff;
    margin: 0;
    padding: 0;
}

div#page {
    margin-top: 2em;
    margin: 0px 10em 0px 10em;
    padding: 0px 1em 0px 1em;
}

/* styles that show up in many places */

.centered {
    margin-left: auto;
    margin-right: auto;
}

div.clear {
    clear: both;
}

.button {
    text-decoration: none;
    font-weight: bold;
    font-size: 120%;
    color: black;
    background-color: #ccc;
    border: thin solid black;
    margin: 0;
    padding: 0.1em 0.25em;
}


/* header formatting */

div#header {
    border-top: thin solid white;
    border-left: thin solid white;
    border-bottom: thin solid #005;
    border-right: thin solid #005;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: #eff;
    padding: 0.25em;
}

div#header h1 {
    margin: 0;
    padding: 0;
    font-size: 14pt;
}

div#header h2 {
    margin-top: 0.1em;
    margin-bottom: 0;
    padding: 0;
    font-size: 12pt;
    font-style: italic;
}

/* footer formatting */

div#footer {
    clear: both;
    margin-top: 2em;
    padding-bottom: 1.25em;
    font-size: small;
    background-color: #eff;
}

div#footer a.about {
    float: right;
    margin: 0 1em;
}

/* nonspecific content formatting */

fieldset.rule, fieldset.reflection {
    margin: 1em 4em;
    border: thin blue solid;
}

fieldset.rule legend, fieldset.reflection legend {
    font-weight: bold;
}

div#content {
    background-color: #eff;

    border-top: thin solid white;
    border-left: thin solid white;
    border-bottom: thin solid #005;
    border-right: thin solid #005;

    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.25em;

    margin-top: 0.5em;
    margin-bottom: 3em;

    font-size: medium;
}

div#content h1 {
    padding: 0;
    margin: 0;
    font-size: 120%;
    border-bottom: thin #006 solid;
}

div#content h2 {
    padding: 0;
    margin: 0.75em 0.5em 0.1em 0em;
    font-size: 110%;
}

div#content p {
    margin-left: 0.75em;
    margin-right: 0.75em;
    margin-top: 0.75em;
    margin-bottom: 0.5em;
}

div#content p em {
    padding-left: 0;
    color: blue;
    font-weight: bold;
    font-style: normal;
    /* font-style: italic; */
}

div#prevnext {
    margin: 2em 4em 1em 4em;
}

div#content p.question {
    margin-top: 1.5em;
}

div#content p.response {
    font-weight: bold;
}

a#previous {
    float: left;
    text-align: center;
    width: 8em;
}

a#next {
    float: right;
    text-align: center;
    width: 8em;
}

div#content dl#resources {
    margin-left: 1em;
    margin-top: 0.5em;
}

div#content dl#resources dt {
    margin-top: 0.5em;
}

/* question/answer form styling */

form#question input.answer-radio {
    vertical-align: text-top;
}

form#question div.answer {
    margin-left: 4em;
}

form#question input {
    margin-left: 2em;
}

form#question input#submit {
    margin-top: 1em;
}

form#question span.incorrect {
    color: #888;
}




/* response formatting */

div#content div#response p {
    margin-left: 0.75em;
    margin-right: 0.75em;
    margin-top: 0.75em;
    margin-bottom: 0.5em;
}

div#content div#response span.correct {
    color: blue;
    font-weight: bold;
    padding-left: 0;
    display: block;
}

div#content div#response span.incorrect {
    color: blue;
    font-weight: bold;
    padding-left: 0;
    display: block;
}

div#content div#response h3 {
    font-weight: normal;
    margin-left: 0.75em;
}

/* learner data form styling */

div#content form#learner {
    margin-left: 3em;
}

div#content div#learner_error {
    color: #f51;
    font-weight: bold;
    margin: 1em 3em 1em 3em;
}

