/* CSS for printable views  */

body #certificate {
/*    size: 8.5in 11in landscape; */
    margin: 0.25in;
    background-image: url("/images/certificate.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

