{% extends "djt/base.html" %}

{% block content %}

<h1>Instructions for Completing your Training</h1>

STEP ONE: We begin each topic with a “general” rule. You should reflect for a
brief moment on how that rule furthers the purpose of the Ethics in Government
Ordinance -- to promote high ethical standards and conduct, and to foster a
healthy ethical culture throughout city government.

<p>
STEP TWO: Following the general rule will be a scenario and a question. Please
choose the best answer from among the possible answers.

<p>
To choose the best answer, think first what the answer should be based simply
on the general rule. Then ask yourself, "Is there a good reason in this case
not to apply the general rule?" In other words, should there be an exception
here? Balance the apparent good that the general rule might do in this case
against any competing values that you believe may be important.

<p>
For example: There is a general rule that you may not participate in City of
Minneapolis business that affects the financial interests of a company or other
non-Minneapolis entity with which you are seeking employment. This rule
promotes the public's confidence in the integrity of the Government. But this
rule may also limit your ability to find a job before you leave Minneapolis
city government. Could your right to find new employment be an important enough
factor in some circumstances to warrant an exception to the general rule? Would
the exception, assuming you see the need for one, still uphold the public's
confidence in the integrity of Minneapolis city government? If your answer is
"no," make your selection based on the general rule. But if you think a valid
exception should apply, then select an answer in accordance with that
expectation.

<p>
STEP THREE: After you select an answer, give particular attention to our
explanation of why the answer is correct or incorrect. Only at this stage, when
you have read our explanation, will you know if an exception actually applies
to the general rule that we gave you at the beginning of the scenario. Reflect
on the difference, if any, between what you thought the correct answer should
be and what it actually was. Once you are confident that you understand the
rationale for the correct answer, go on to the next scenario.

<h1>Instructions for Completing your Training</h1>

A more traditional approach would be to give you the general rule and the
exception, if one applies, right before each scenario. Then you would simply
plug in the rule and get the correct answer with minimal effort, allowing you
to move on to the next scenario, and quickly finish the training and obtain
your certificate of completion. What could be wrong with that?

Well, that approach might not give you the knowledge and understanding you need
to protect yourself from committing inadvertent violations that, in many cases,
carry civil or even criminal consequences.

Applying ethics rules are more complex than you would think. Your good
intentions and a basic understanding of the more common rules may not be enough
to protect you from committing inadvertent violations. Of course, as several
people commented during previous training, it is never inappropriate to take a
cautious approach and say "No," even when an exception may allow you to take a
certain action.

It is surprising how many well-intentioned personnel have unintentionally
broken the rules because they just didn't realize there was a problem until it
was too late. In a required one-half-hour training session such as this, we
can't present you with all ethics rules and their exceptions, much less expect
you to remember them. What we can do is orient you to a way of thinking that
readily identifies potential ethics problems so that you know whether you need
to seek specific guidance before engaging in an activity. We believe that using
the three steps outlined above will give you the proper orientation by asking
you to focus on general ethical principles and their relation to real-life
situations.

STEP FOUR: At the end of the training, you will be linked to an automated
training completion certificate and email.  You are encouraged to save a copy
of the completion certificate for your own records.  You should use the email
to notify the City Clerk’s office and your city staff liaison of your
completion of this educational requirement.

Electronic records of training are not transmitted back to the Office of the
Minneapolis City Attorney or the city department staffing your board,
commission or agency and we are not able to assist you in reproducing proof
that you’ve completed this training.  If you do not make a copy of your
certificate, the only method available for obtaining another certificate is to
re-take this course in its entirety.

Let's get started with an overview of the Ethics in Government Ordinance.

{% endblock content %}

