
    /*
html, title, body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #ffffee;
    margin: 0;
    padding: 0;
}

    */
div#page {
    margin-top: 0;
    /*background-color: #b4f3ff;*/
    /*background-color: #aaa;*/
    margin: 0px 10em 0px 10em;
    padding: 0px 1em 0px 1em;
}

div#header h1 {
    /*
    margin: 0;
    padding: 0;
    */
    font-size: 12pt;
}

div#content {
    margin-bottom: 1em;
    background-color: #b4f3ff;
}

div#content h1 {


}

div#content form.rhs {
    float: right;
}

div#footer {
    clear: both;
    margin-top: 2em;
    padding-bottom: 0.3em;
    font-size: small;
    border-top: thin solid #122564;
    background-color: #b4f3ff;
}

div#footer a.about {
    float: right;
    margin: 0 1em;
}

form#question div.answer {
    margin-left: 2em;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.roundedcornr_box_156078 {
    background: #b4f3ff;
}
.roundedcornr_top_156078 div {
    background: url("/images/roundedcornr_156078_tl.png") no-repeat top left;
}
.roundedcornr_top_156078 {
    background: url("/images/roundedcornr_156078_tr.png") no-repeat top right;
}
.roundedcornr_bottom_156078 div {
    background: url(/images/roundedcornr_156078_bl.png) no-repeat bottom left;
}
.roundedcornr_bottom_156078 {
    background: url(/images/roundedcornr_156078_br.png) no-repeat bottom right;
}

.roundedcornr_top_156078 div, .roundedcornr_top_156078,
.roundedcornr_bottom_156078 div, .roundedcornr_bottom_156078 {
   width: 100%;
   height: 5px;
   font-size: 1px;
}
.roundedcornr_content_156078 { margin: 0 5px; }
