
html, title, body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #c0ffff;
    margin: 0;
    padding: 0;
}

div#page {
    margin-top: 2em;
    margin: 0px 10em 0px 10em;
    padding: 0px 1em 0px 1em;
}

div#header {
    border-top: thin solid white;
    border-left: thin solid white;
    border-bottom: thin solid #005;
    border-right: thin solid #005;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: #eff;
    padding: 0.25em;
}

div#header h1 {
    margin: 0;
    padding: 0;
    font-size: 14pt;
}

div#header h2 {
    margin-top: 0.1em;
    margin-bottom: 0;
    padding: 0;
    font-size: 12pt;
    font-style: italic;
}

div#content {
    background-color: #eff;

    border-top: thin solid white;
    border-left: thin solid white;
    border-bottom: thin solid #005;
    border-right: thin solid #005;

    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.25em;

    margin-top: 0.5em;
    margin-bottom: 3em;

    font-size: medium;
}

div#content h1 {
    padding: 0;
    margin: 0;
    font-size: 120%;
    border-bottom: thin #006 solid;
}

div#content h2 {
    padding: 0;
    margin: 0.75em 0.5em 0.1em 0em;
    font-size: 110%;
}

div#content p {
    margin-left: 0.75em;
    margin-right: 0.75em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div#prevnext {
    margin: 2em 4em 1em 4em;
}

a#previous {
    float: left;
    text-align: center;
    width: 8em;
}

a#next {
    float: right;
    text-align: center;
    width: 8em;
}

.button {
    text-decoration: none;
    text-align: top;
    font-weight: bold;
    font-size: 120%;
    color: black;
    background-color: #ccc;
    border: thin solid black;
    margin: 0;
    padding: 0.1em 0.25em;
}

div#footer {
    clear: both;
    margin-top: 2em;
    padding-bottom: 1.25em;
    font-size: small;
    background-color: #eff;
}

div#footer a.about {
    float: right;
    margin: 0 1em;
}

form#question input.answer-radio {
    vertical-align: text-top;
}

span.strikethrough {
    text-decoration: line-through;
}

form#question div.answer {
    margin-left: 4em;
}

form#question input {
    margin-left: 2em;
}

form#question input#submit {
    margin-top: 1em;
}

div.clear {
    clear: both;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

fieldset.rule, fieldset.reflection {
    margin: 1em 4em;
    border: thin blue solid;
}

fieldset.rule legend, fieldset.reflection legend {
    font-weight: bold;
}

