<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<link rel="stylesheet" type="text/css" href="/styles/main.css"
    media="screen" />
<link rel="stylesheet" type="text/css" href="/styles/print.css"
    media="print" />
<title>
{% block title %}
City of Minneapolis electronic ethics training
{% endblock title %}
</title>
</head>
<body>
{% block body %}
<div id="page">
<div id="header">
{% block header %}

City of Minneapolis
<br>
Ethics in Government Education for Appointed Members of Boards, Commissions
and Agencies
<br>

Office of the Minneapolis City Attorney
{% endblock header %}
</div>
<div id="content">
{% block content %}
{% endblock content %}
<div style="clear:both" />
</div>
<div id="footer">
{% block footer %}
<a class="about" href="/about.html">About</a>
This is the footer.
{% endblock footer %}
</div>
</div>
{% endblock body %}
</body>
</html>
