{% extends "base.html" %}

{% block content %}
<h1>Instructions for Completing your Training</h1>

<h2>Step One</h2>
We begin each topic with a “general” rule. You should reflect for a brief
moment on how that rule furthers the purpose of the Ethics in Government
Ordinance -- to promote high ethical standards and conduct, and to foster a
healthy ethical culture throughout city government.

<h2>Step Two</h2>
Following the general rule will be a scenario and a question. Please choose
the best answer from among the possible answers.

<p>
To choose the best answer, think first what the answer should be based simply
on the general rule. Then ask yourself, "Is there a good reason in this case
not to apply the general rule?" In other words, should there be an exception
here? Balance the apparent good that the general rule might do in this case
against any competing values that you believe may be important.

<p>
For example: There is a general rule that you may not participate in City
of Minneapolis business that affects the financial interests of a company
or other non-Minneapolis entity with which you are seeking employment. This
rule promotes the public's confidence in the integrity of the Government.
But this rule may also limit your ability to find a job before you leave
Minneapolis city government. Could your right to find new employment be an
important enough factor in some circumstances to warrant an exception to
the general rule? Would the exception, assuming you see the need for one,
still uphold the public's confidence in the integrity of Minneapolis city
government? If your answer is "no," make your selection based on the
general rule. But if you think a valid exception should apply, then select
an answer in accordance with that expectation.

<h2>Step Three</h2>
After you select an answer, give particular attention to our explanation of
why the answer is correct or incorrect. Only at this stage, when you have
read our explanation, will you know if an exception actually applies
to the general rule that we gave you at the beginning of the scenario. Reflect
on the difference, if any, between what you thought the correct answer should
be and what it actually was. Once you are confident that you understand the
rationale for the correct answer, go on to the next scenario.

<p>
<a class="rhs button" href="instructions-2.html">Continue &rarr;</a>
</p>

{% endblock content %}
